@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    height: 100vh;
    margin: 0;
}

.jumbotron {
    background-image: url('./images/cute.jpg');
    background-repeat: no-repeat;
    /*background-size: cover;*/
    max-width:100vw;
    height:50vh;
    color: black;
    font-weight: bold;
    margin:0;
}

.card {
    height: 100%;
}

.searchbutton{
    opacity: .7;
    border-radius: .3rem;    
}


/* NAVBAR STYLES */
.bg-dark{
    background-color: #8B5C57!important;
}
.navbar-light .navbar-brand  {
    color: black!important;
}
.nav-item{
    color: black;
}

/* USER PROFILE */
div.card.user{
    max-width: 480px;
    max-height: 780px;
    margin: auto;
    margin-bottom: 20px;
}

div.remove_accnt.add_review {
    margin:auto;
}

.user_name {
    margin-top: 10px;
}

/* FOOTER */

#footer {
    position: absolute;
    bottom: 0;
    width:100%;
    height: 2rem
}

#page-container {
    position:relative;
    min-height:100vh;
}

#content-wrap {
    padding-bottom: 2.5rem;
}

