@import url('https://fonts.googleapis.com/css2?family=Ubuntu:100,200,300,400,500,600,700&display=swap');

body {
    font-family: 'Ubuntu', sans-serif;
}

.jumbotron {
    background-image: url('https://hdwallpaperim.com/wp-content/uploads/2017/08/23/457122-books-mountains-Photoshop-imagination-peaceful-748x409.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    font-weight: bold;
}

.card {
    height: 100%;
}