@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.jumbotron {
    background-image: url('./images/cute.jpg');
    background-repeat: no-repeat;
    /*background-size: cover;*/
    max-width:100%;
    height:auto;
    color: black;
    font-weight: bold;
}

.card {
    height: 100%;
}

/* NAVBAR STYLES */
.bg-dark{
    background-color: #EC7063!important;
}

.navbar-light .navbar-brand  {
    color: #F5FAFA;
}