@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #edf2f7;
    overflow-x: hidden;
    margin: auto;
    height: 100%;
    min-width: 340px;
}

/*MAIN LAND*/
.jumbotron {
    background-image: url('./images/bookz.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    max-width:100vw;
    height:50vh;
    color: black;
    font-weight: bold;
}

/*BOOK CARDS*/
.jumbo-awesome{
    color:#fafafa;
}

.bottom-boder{
    border-color:black;
    border-width: 3px;
}
.lead {
    font-size: 1.5rem;
    font-weight:3px;
    color: #fafafa;
    bottom:0;

}

.card {
    border-style: solid;
    border-width:2px;
    border-color: black;
    margin: auto
}

hr {
    color: black;
}

.upvote {
    margin-left:0
}

/* NAVBAR STYLES */
.bg-dark{
    background-color: #8B5C57!important;
}
.navbar-light .navbar-brand  {
    color: black!important;
}
.nav-item{
    color: black;
}

/* USER PROFILE */
div.card.user{
    max-width: 480px;
    max-height: 780px;
    margin: auto;
    margin-bottom: 20px;
}

div.remove_accnt.add_review {
    margin:auto;
}

.user_name {
    margin-top: 10px;
}

/* FOOTER */
#footer {
    position: absolute;
    width:100%;
    height: 2rem;
    bottom:0;
    margin-top: 40px;
}

#page-container {
    position:relative;
    min-height:100vh;
}

#content-wrap {
    /*padding-bottom: 2.5rem;*/
}

.review_img {
    max-width: 300px;
    max-height: 400px;
    margin:auto;
}

/*@media*/
