{% extends 'base.html' %}

{% block content %}

<main>
    <div class="">
        <div class="row">
            <!-- MAIN PAGE -->
            <div class="col-12">
                <div class="jumbotron">
                    <div class="container">
                        <!-- JUMBO TEXT -->
                        <h2 class="jumbo-awesome mt-1 mx-auto">AwesomeReads</h2>
                        <p class="lead">
                            <strong>Tell us about your AwesomeReads!<br>
                                Give reviews a like!<br>
                                Write your reviews on AwesomeReads!
                            </strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


<!-- USING A CARD TO LOOP THROUGH EACH REVIEW -->
<div class="row">
{% for review in reviews %}
    <div class="col-lg-6 col-md-6 mb-4">
        <div class="card" style="width: 20rem;">
            <img class="card-img-top bottom-border" src="{{ review.image }}" alt="Cover Image">
            
            <div class="card-body">
                <!-- BOOK AUTHOR -->
                <span class="book-title">
                    <strong>Author:</strong></span>
                <span class="text-capitalize">{{ review.author }}
                </span>
                <!-- BOOK TITLE-->
                <span class="book-title">
                    <strong>Title:</strong></span>
                <span class="text-capitalize">{{ review.title }}
                </span>
                <hr />
                <!-- BOOK SUMMARY -->
                <span class="book-title text-capitalize" data-toggle="collapse" data-taget="#card">
                    <strong>Summary:</strong></span>
                <span class="text-capitalize">{{ review.summary }}</span>
                <hr />
                <!-- THE REVIEWER -->
                <span class="book-title text-capitalize">
                    <strong>Reviewed By:</strong></span>
                <strong><i class="fa fa-user-circle" aria-hidden="true"></i></strong>
                <span> {{ review.username }}</span>
                <hr />
                <!-- FULL REVIEW -->
                <a class="btn btn-primary" href="{{ url_for('reviews', id=review._id) }}">Full Review</a>
                <span class="book-title upvote">Upvotes:</span>
                <span class="upvote"><i class="fa fa-thumbs-up"></i></span>
            </div>
        </div>
    </div>
{% endfor %}
</div>    

{% endblock %}