{% extends 'base.html' %}
{% block content %}

<main>
    <div class="row">
    <!-- MAIN PAGE -->
        <div class="col-12">
            <div class="jumbotron">
                <div class="container">
                <!-- JUMBO TEXT -->
                    <h2 class="jumbo-awesome"></h2>
                    <p class="lead">
                        <strong>Tell us about your AwesomeReads!<br>
                                Give reviews a like!<br>
                                Write your reviews on AwesomeReads!
                        </strong>
                    </p>
                </div>
                <!-- SEARCH BAR-->
                <div class="mt-4 ml-4"><br>
                    <form class="form-inline" action="">
                        <div class="form-group ">
                            <input class="form-control-sm mr-1 searchbar small" type="text"
                                    placeholder="Search Site" name="search" size="12">
                                <button class="  mr-1 searchbar small mr-1"
                                    type="submit"><strong><i class="fa fa-search" aria-hidden="true"></i></strong>
                                </button>
                        </div>
                    </form>
                </form>
            </div>
        </div>
    </div>
</main>


    <!-- USING A CARD TO LOOP THROUGH EACH REVIEW -->
    {% for review in reviews %}
    <div class="card mb-5" style="width: 14rem;">
        
        <div class="row">
        
            <div class="col-lg-3 col-md-6 mb-5">
                <img class="card-img-top" src="{{ reviews.image }}" alt="Cover Image">

                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 mb-5"><span class="book-title">
                            <strong>Author:</strong></span>
                            <span class="text-capitalize">{{ reviews.author }}</span>
                        </div>

                        <div class="col-lg-3 col-md-6 mb-5"><span class="book-title">
                            <strong>Title:</strong></span>
                            <span class="text-capitalize">{{ reviews.title }}</span>
                        </div>
                    </div>

                    <hr />
                    <!-- BOOK SUMMARY -->
                    <div class="row">
                        <div class="col-lg-3 col-md-6 mb-5"><span class="book-title text-capitalize">
                            <strong>Summary:</strong></span>
                            <span class="">{{ reviews.summary }}</span>
                        </div> 
                    </div>

                    <hr />
                    <!-- THE REVIEWER -->
                    <div class="row">
                        <div class="col-lg-3 col-md-6 mb-5"><span class="book-title text-capitalize">
                            <strong>Reviewed By:</strong></span>
                            <strong><i class="fa fa-user-circle" aria-hidden="true"></i></strong>
                            <span> {{ reviews.username }}</span>
                        </div>
                    </div>
                    <hr />
                    <!-- FULL REVIEW -->
                    <div class="row">
                        <div class="col-lg-3 col-md-6 mb-5"><a class="btn btn-primary"
                                href="#TODO" >Full Review</a>
                        </div>
                        <div class="col-md-2"><span class="book-title">Upvotes:</span>
                            <span class="upvote"><i class="fas fa-thumbs-up"></i> # <span>
                        </div>
                    </div>
                    

                </div>

            </div>
        </div>
    </div>
    {% endfor %}

{% endblock %}