{% extends 'base.html'%}

{% block content %}

<div class="row">
{% for review in reviews %}
    <div class="col-12 mt-0 mb-5">
        <div class="card">
            <img class="card-img-top bottom-border review_img" src="{{ review.image }}" alt="Cover Image">
            
            <div class="card-body">
                <!-- BOOK AUTHOR -->
                <span class="book-title">
                    <strong>Author:</strong></span>
                <span class="text-capitalize">{{ review.author }}<br>
                </span>
                <hr />
                <!-- BOOK TITLE-->
                <span class="book-title">
                    <strong>Title:</strong></span>
                <span class="text-capitalize">{{ review.title }}
                </span>
                <hr />
                <!-- BOOK SUMMARY -->
                <span class="book-title text-capitalize">
                    <strong>Summary:</strong></span>
                <span class="text-capitalize">{{ review.summary }}</span>
                <hr />
                <!-- THE REVIEWER -->
                <span class="book-title text-capitalize">
                    <strong>Reviewed By:</strong></span>
                <strong><i class="fa fa-user-circle" aria-hidden="true"></i></strong>
                <span> {{ review.username }}</span>
                <!-- RATINGS ON THE SAME ROW-->
                <span class="book-title upvote">Ratings:</span>
                <span class="Rating">{{ review.ratings }}<i class="fa fa-star-half-alt"></i></span>
                <hr />
                <!-- FULL REVIEW -->
                <a class="btn btn-primary" href="{{ url_for('reviews', id=review._id) }}">Full Review</a>
            </div>
        </div>
    </div>
{% endfor %}
</div>

{% endblock %}