{% extends 'base.html' %}

{%  block content %}

<!-- USING A CARD TO LOOP THROUGH EACH REVIEW -->
<div class="row">
    <div class="col-12 mb-5">
        <div class="card">
            <img class="card-img-top bottom-border review_img" src="{{ review.image }}" alt="Cover Image">
            
            <div class="card-body">
                <!-- BOOK AUTHOR -->
                <span class="book-title">
                    <strong>Author:</strong></span>
                <span class="text-capitalize">{{ review.author }}<br>
                </span>
                <!-- BOOK TITLE-->
                <span class="book-title">
                    <strong>Title:</strong></span>
                <span class="text-capitalize">{{ review.title }}
                </span>
                <hr />
                <!-- BOOK SUMMARY -->
                <span class="book-title text-capitalize">
                    <strong>Summary:</strong></span>
                <span class="text-capitalize">{{ review.summary }}</span>
                <hr />
                <!-- REVIEW -->
                <span class="book-title text-capitalize">
                    <strong>Review:</strong></span>
                <span class="text-capitalize">{{ review.review }}</span>
                <hr />
                <!-- THE REVIEWER -->
                <span class="book-title text-capitalize">
                    <strong>Reviewed By:</strong></span>
                        <strong><i class="fa fa-user-circle" aria-hidden="true"></i></strong>
                    <span> {{ review.username }}</span>
                <hr />
                <!-- RATINGS -->
                <span class="book-title text-capitalize">
                    <strong>Ratings:</strong></span>
                <strong><i class="fa fa-star-half-alt" aria-hidden="true"></i></strong>
                <span> {{ review.ratings }}</span>
                <!-- CONDITIONAL OPTIONS FOR LOGGED IN USER -->
                {% if 'username' in session %}
                    <div class="row mb-4 text-center">
                        <div class="col-12 col-md-6 mb-3"><a href="{{ (url_for('edit_review', id=review._id))}}"
                            class="btn btn-info" title="Edit Review">Edit Review</a>
                        </div>
                        <div class="col-12 col-md-6 mb-2">
                            <a href="{{ (url_for('delete_review', id=review._id)) }}"class="btn btn-danger" title="Delete Review">Delete Review></a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
    

{% endblock %}