{% extends 'base.html' %}

{%  block content %}

    <!-- USING A CARD TO LOOP THROUGH EACH REVIEW -->
    
<div class="card mb-5" style="width: 14rem;">
        
        <div class="row">
        {% for review in reviews %}
            <div class="col-lg-3 col-md-6 mb-5">
                <img class="card-img-top" src="{{ reviews.image }}" alt="Cover Image">
                <!-- BOOK AUTHOR -->
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 mb-5"><span class="book-title">
                            <strong>Author:</strong></span>
                            <span class="text-capitalize">{{ reviews.author }}</span>
                        </div>
                    <!-- BOOK TITLE-->
                        <div class="col-lg-3 col-md-6 mb-5"><span class="book-title">
                            <strong>Title:</strong></span>
                            <span class="text-capitalize">{{ reviews.title }}</span>
                        </div>
                    </div>

                    <hr />
                    <!-- BOOK SUMMARY -->
                    <div class="row">
                        <div class="col-lg-3 col-md-6 mb-5"><span class="book-title text-capitalize">
                            <strong>Summary:</strong></span>
                            <span class="">{{ reviews.summary }}</span>
                        </div> 
                    </div>

                    <hr />
                    <!-- THE REVIEWER -->
                    <div class="row">
                        <div class="col-lg-3 col-md-6 mb-5"><span class="book-title text-capitalize">
                            <strong>Reviewed By:</strong></span>
                            <strong><i class="fa fa-user-circle" aria-hidden="true"></i></strong>
                            <span> {{ reviews.username }}</span>
                        </div>
                    </div>
                    <hr />
                    <!-- FULL REVIEW -->
                    <div class="row">
                        <div class="col-lg-3 col-md-6 mb-5"><a class="btn btn-primary"
                                href="#TODO" >Full Review</a>
                        </div>
                        <div class="col-md-2"><span class="book-title">Upvotes:</span>
                            <span class="upvote"><i class="fas fa-thumbs-up"></i> # </span>
                        </div>
                    </div>
                    

                </div>

            </div>
        {% endfor %}    
        </div>
</div>
    

{% endblock %}